{
  "root": true,
  "plugins": ["@typescript-eslint", "jsdoc"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "jsdoc/require-jsdoc": [
      "warn",
      {
        "publicOnly": true,
        "checkConstructors": false,
        "contexts": ["MethodDefinition:not([accessibility=/(private|protected)/]) > FunctionExpression"],
        "require": {
          "FunctionExpression": false,
          "FunctionDeclaration": false,
          "ArrowFunctionExpression": false,
          "ClassDeclaration": false,
          "ClassExpression": false,
          "MethodDefinition": false
        }
      }
    ]
  }
}
